
#overview{
  &-container{
    display: flex;
    flex-wrap: wrap;
  }
  .card{
      cursor: pointer;
      margin: 0.2em;
      width: 235px;
      display: block;
      &.active{
          border: 1px solid #0275d8;
      }
      .card__content{
          display: block;
          margin: 0 auto;
          text-align: center;
          width: 210px;
          height: 50px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
  }
}
